html
    head
        title='Register'
        style
            include styles.css
    body
        div(class="errorRegister")
            h1(class="titleErrorRegister")=`Ups, ten cuidado con los campos a completar :(`
            img(src="https://www.freeiconspng.com/uploads/red-circular-image-error-0.png", alt="")
            a(href="/register")="Intentalo de nuevo"