html
    head
        title='Login'
        style
            include styles.css
    body
        div(class="errorLogin")
            h1(class="titleErrorLogin")="Ups, ten cuidado con los campos a completar :("
            img(src="https://www.freeiconspng.com/uploads/red-circular-image-error-0.png", alt="")
            a(href="/login")="Intentalo de nuevo"