html
    head
        title='login'
        style
            include styles.css
    body
        div(class="contenedorPrincipalLogin")
            div(class="contenedorLogin")
                div 
                    h1(class="titleLogin")="Iniciar sesion"
                    form(action="/login" method="POST" class="formLogin")
                        label(for="username") Email 
                        input(type="text"   name="username")
                        label(for="password") Contraseña
                        input(type="password" name="password")
                        input(type="submit" value="Iniciar sesion" class="buttonIniciar")
                div(class="infoExtraLogin")
                    p=`No tienes cuenta?`
                    a(href="/register") Registrarse
            div(class="principalTitle")
                h2(class="tecnoGamer")="gamerstore"