html
    head
        title='Register'
        style
            include styles.css
    body
        h1(class="titleRegister")="Registrate gratis"
        div(class="formRegister")
            form(action="/register" method="POST") 
                label(for="nombre") Nombre 
                input(type="text" name="nombre")
                label(for="email") Email  
                input(type="text" name="username")
                label(for="password") Contraseña 
                input(type="password" name="password")
                label(for="direccion") Direccion 
                input(type="text" name="direccion")
                label(for="edad") Edad 
                input(type="number" name="edad")
                label(for="telefono") Telefono 
                input(type="string" name="telefono")
                label(for="avatar") Url imagen 
                input(type="text" name="avatar")
                button Registrarse 
            div(class="moreInfoRegister")
                p=`Ya tienes cuenta?`
                a(href="/login") Iniciar sesion 